.appbar{
  background-color: #333631 !important;
  color: white !important;
  .appbarText{
    flex-grow: 1;
  }
}

.Title{
  background-color: #333631;
  padding: 10px 10px;
  color: white;
  margin: 30px 0px 10px;
}

.w90{
  width: 90%;
  margin: 0 auto;
}

p{
  margin: 15px;
}
