.postsList {
  width: 100%;
  max-width: 36ch;
  background-color: white;
  .noneFlex{
    display: block !important;
    .gray{
      color: gray;
      font-size: 13px;
    }
  }
  .paperStyle {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 10px !important;
    word-wrap: break-word !important;
    background-color: #f8f8f8 !important;
  }
}
